apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "woocommerce.fullname" . }}-wordpress
  labels:
    app: wordpress
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: wordpress
  template:
    metadata:
      labels:
        app: wordpress
    spec:
      containers:
        - name: wordpress
          image: {{ .Values.wordpress.image }}
          ports:
            - containerPort: 80
          env:
            - name: WORDPRESS_DB_HOST
              value: "{{ include "woocommerce.fullname" . }}-mysql-0.{{ include "woocommerce.fullname" . }}-mysql:3306"
            - name: WORDPRESS_DB_NAME
              value: "{{ .Values.mysql.database }}"
            - name: WORDPRESS_DB_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "woocommerce.fullname" . }}-secrets
                  key: mysql-user
            - name: WORDPRESS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "woocommerce.fullname" . }}-secrets
                  key: mysql-password

          resources:
            requests:
              cpu: {{ .Values.wordpress.resources.requests.cpu }}
              memory: {{ .Values.wordpress.resources.requests.memory }}
            limits:
              cpu: {{ .Values.wordpress.resources.limits.cpu }}
              memory: {{ .Values.wordpress.resources.limits.memory }}

          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 60
            periodSeconds: 20
